{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Felhasználók</h1>
</div>

{{user-list users=model}}

<p>{{link-to "Új felhasználó hozzáadása" "users.new" class="btn btn-default"}}</p>